fastapi
uvicorn[standard]
sqlalchemy[asyncio]
aiomysql
cryptography
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-generativeai
PyMuPDF
python-dotenv
pydantic[email]
qrcode[pil]
aiofiles
pillow
aiosqlite
openpyxl
alembic